#map .infowindow {
  position: absolute;
  padding: 10px 20px;
  background: transparent url('/OGPLocator/img/infowindow_middle.png') repeat-y center center;
}

  #map .infowindow .close {
    position: absolute;
    top: 0px;
    right: 8px;
    display: block;
    padding:3px;
    font:normal 12px Arial;
    color:#999999;
    text-decoration:none;
  }

  #map .infowindow .close:hover {
    color:#555555;
  }  

  #map .infowindow .t, #map .infowindow .b {
    position: absolute;
    left: 0;
    width: 250px;
  }

  #map .infowindow .t {
    top: -4px;
    height: 4px;
    background: transparent url('/OGPLocator/img/infowindow_top.png') no-repeat center center;
  }

  #map .infowindow .b {
    bottom: -14px;
    height: 14px;
    background: transparent url('/OGPLocator/img/infowindow_bottom.png') no-repeat center center;
  }

  #map .infowindow .content {
  }

    #map .infowindow .content h3 {
      margin: 3px 0;
      padding:0;
      line-height:21px;
      font-family: "Gill Sans", Geneva, Tahoma, Arial, sans-serif;
      text-transform: none;
    }

    #map .infowindow .content h3 a {
      color:#EB4600;
    }

    #map .infowindow .content h3 a:hover {
      color:#C93B00;
    }

    #map .infowindow .content p {
      padding:0;
      margin:10px 0 0;
      font-size:13px;
      line-height:normal!important;
    }
