body{
  background-image: url('/OGPLocator/img/background.png');
  font-family: "Gill Sans", Geneva, Tahoma, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}

h1 {
  font-size: 45px;
  text-transform: none;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h6 {
  font-size: 13px;
}

#openbudget a {
  float: none;
  background: transparent;
  display: inline;
  color: black;
  font-weight: normal;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#openbudget {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 40px;
}

  #openbudget header h2, #openbudget header nav {
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    *zoom: 1;
    float: none;
  }

  #openbudget header nav{
    width: 63%;
    vertical-align: middle;
    text-align: right;
  }

    #openbudget header nav li.menu{
      position: relative;
      background: url('../img/arrow_downwards.png') no-repeat center right;
      padding-right: 8px;
      margin: 0 0 0 20px;
      font-size: 15px;
      text-transform: uppercase;
    }

      #openbudget header nav .filters{
        position: absolute;
        display: none;
        width: 135px;
        left: 50%;
        top: 33px;
        margin-left: -87.5px;
        padding: 0 20px;
        background: transparent url('/OGPLocator/img/menu_middle.png') repeat-y center center;
        text-align: left;
      }

      #openbudget header nav .filters.show{
        display: block;
        z-index: 1;
      }

        #openbudget header nav .filters img {
          position: absolute;
        }

        #openbudget header nav .filters img.border_top {
          top: -17px;
          left: 0;
        }

        #openbudget header nav .filters img.border_bottom {
          bottom: -16px;
          left: 0;
        }

        #openbudget header nav .filters li {
          display: block;
        }

        #openbudget header nav .filters a {
          display: inline;
          float: none;
          background-color: transparent;
          margin: 0;
          padding: 0;
          color: #FA5200;
          font-size: 13px;
          font-weight: normal;
        }


  #openbudget #map{
    width: 960px;
    height: 320px;
    margin: 4px 0 32px;
    border: 1px solid rgba(0, 0, 0, 0.15)
  }

  #openbudget .two_columns{

  }

    #openbudget .two_columns .left, #openbudget .two_columns .right {
      display: inline-block;
      vertical-align: middle;
      *display: inline;
      *zoom: 1;
      vertical-align: top;
    }

    #openbudget .two_columns .left {
    }

    #openbudget .two_columns .left .container {
      width: 566px;
      padding: 32px;
      margin-bottom: 30px;
      background-color: white;
      border: 1px solid #CCCCCC;
    }

    #openbudget #results .search {
      min-height: 638px;
    }

    #openbudget #results .search form {
      position: relative;
    }

      #openbudget #results .search form img, #openbudget #results .search form input.search_box {
        margin: 0;
        padding: 0;
      }

      #openbudget #results .search form input.search_box {
        width: 540px;
        height: 40px;
        padding: 0 10px;
        background-image: url('/OGPLocator/img/search_field_middle.png');
        border: 0 none;
        font-size: 15px;
        color: #CCCCCC;
        vertical-align: middle;
      }

      #openbudget #results .search form input.mag_glass {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        background: transparent url("/OGPLocator/img/magnifier_icon.png") no-repeat center center;
        border: 0 none;
      }

    #openbudget #results .search div.summary {
      margin: 30px 0;
      font-size: 15px;
    }

    #openbudget #results .search ul {
      padding: 0;
      list-style-type: none;
    }

      #openbudget #results .search ul li {
        padding: 22px 0;
        border-top: 1px solid rgba(204, 204, 204, 0.6);
      }

        #openbudget #results .search ul li h3 {
          margin: 3px 0;
          line-height: 13px;
          color: #EB4600;
          text-transform: none;
        }

        #openbudget #results .search ul li a {
          font-size: inherit;
          text-decoration: none;
          color: inherit;
        }

        #openbudget #results .search ul li a.desc, #openbudget #results .search ul li a.where {
          font-size: 13px;
        }
        #openbudget #results .search ul li a.desc:after {
          content: '\00a0\00b7\00a0';
        }

    #openbudget .two_columns .right {
      width: 259px;
      padding: 0 32px;
    }

      #openbudget .two_columns .right div {
        margin-bottom: 32px;
        border-bottom: 1px solid rgba(0, 102, 153, 0.10);
      }

      #openbudget .two_columns .right div.last {
        border-bottom: 0 none;
      }

        #openbudget .two_columns .right div h4 {
          margin: 0;
        }

        #openbudget .two_columns .right div p {
          margin: 0 0 26px;
          font-size: 13px;
          color: #8A9298;
        }

        #openbudget .two_columns .right div a {
          font-size: 13px;
          color: #FA5200;
          text-decoration: none;
        }

      #openbudget .two_columns .right div ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
      }

#openbudget #back {
  display: block;
  margin: 20px 0;
  padding-left: 8px;
  background: url('/OGPLocator/img/arrow_left.png') no-repeat center left;
  font-size: 15px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

  #openbudget #case_detail .container header {
    margin-bottom: 40px;
  }

    #openbudget #case_detail .container header h1 {
      line-height: 0px;
    }

    #openbudget #case_detail .container header span {
      color: rgba(51, 51, 51, 0.7);
      font-size: 15px;
    }

  #openbudget #case_detail .container div {
    margin-bottom: 40px;
  }

    #openbudget #case_detail .container div h4 {
      color: #009933;
      line-height: 0px;
    }

    #openbudget #case_detail .container div p {
      font-size: 15px;
    }

  #openbudget #case_detail #mini_map{
    width: 298px;
    height: 348px;
    border: 1px solid rgba(0, 0, 0, 0.15)
  }

  #openbudget #case_detail .sidebar li {
    margin: 20px 0;
  }

  #openbudget #case_detail .sidebar h6 {
    line-height: 13px;
    margin: 0;
  }

  #openbudget #case_detail .sidebar li span {
    font-size: 13px;
    color: #8A9298;
  }
